* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    src: url(../font/KalamehWeb_thin.ttf);
    font-family: kalameh-thin;
    font-weight: 300;
}

@font-face {
    src: url(../font/KalamehWeb_Regular.ttf);
    font-family: kalameh-regular;
    font-weight: 400;
}

@font-face {
    src: url(../font/KalamehWeb_Bold.ttf);
    font-family: kalameh-bold;
    font-weight: 700;
}

@font-face {
    src: url(../font/KalamehWeb_Black.ttf);
    font-family: kalameh-black;
    font-weight: 800;
}

.btn-primary {
    width: 120px;
    border: 0;
    border-radius: 10px;
    color: #fff;
    background-color: #C70039;
}

.btn-primary:hover {
    border: 0;
    border-radius: 10px;
    color: #fff;
    background-color: #f00d4d;
}


body {
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../images/Fa-Galactic-Guests-Background.svg);
    overflow: hidden;
}

.wrapper {
    height: 100vh;
}

.galactic-guests-heading {
    min-width: 100%;
    position: absolute;
    top: 150px;
    right: 170px;
}

.galactic-guests-heading h2 {
    color: #ffcc00;
    font-size: 80px;
    font-family: kalameh-black;
}

.galactic-guests-heading h1 {
    color: #F83300;
    font-size: 90px;
    font-family: kalameh-black;
}

.galactic-guests-heading p {
    color: #FF3B3B;
    margin-top: 15px;
    font-size: 40px;
    font-family: kalameh-thin;
}

.galactic-guests-countdown-form {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 500px;
    right: 180px;
}

.timer-top-row {
    width: 500px;
    display: flex;
    flex-direction: row-reverse;
}

.days-number {
    width: 200px;
    height: 60px;
    background-color: #541444;
    border: 0;
    border-radius: 20px 20px 0px 0px;
    color: #FF3B3B;
    padding-top: 15px;
    padding-right: 45px;
    margin-right: 20px;
    font-size: 22px;
    font-family: kalameh-bold;
}

.hours-number {
    width: 200px;
    height: 60px;
    background-color: #541444;
    border: 0;
    border-radius: 20px 20px 0px 0px;
    color: #FF3B3B;
    padding-top: 15px;
    padding-right: 40px;
    margin-right: 20px;
    font-size: 22px;
    font-family: kalameh-bold;
}

.minutes-number {
    width: 200px;
    height: 60px;
    background-color: #541444;
    border: 0;
    border-radius: 20px 20px 0px 0px;
    color: #FF3B3B;
    padding-top: 15px;
    padding-right: 40px;
    margin-right: 20px;
    font-size: 22px;
    font-family: kalameh-bold;
}

.seconds-number {
    width: 200px;
    height: 60px;
    background-color: #541444;
    border: 0;
    border-radius: 20px 20px 0px 0px;
    color: #FF3B3B;
    padding-top: 15px;
    padding-right: 35px;
    margin-right: 20px;
    font-size: 22px;
    font-family: kalameh-bold;
}

.timer-bottom-row {
    width: 500px;
    display: flex;
    flex-direction: row-reverse;
}

.days-word {
    width: 200px;
    height: 55px;
    background-color: #541444;
    border: 0;
    border-radius: 0px 0px 20px 20px;
    color: #FF3B3B;
    padding-top: 15px;
    padding-right: 45px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 22px;
    font-family: kalameh-bold;
}

.hours-word {
    width: 200px;
    height: 55px;
    background-color: #541444;
    border: 0;
    border-radius: 0px 0px 20px 20px;
    color: #FF3B3B;
    padding-top: 15px;
    padding-right: 30px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 22px;
    font-family: kalameh-bold;
}

.minutes-word {
    width: 200px;
    height: 55px;
    background-color: #541444;
    border: 0;
    border-radius: 0px 0px 20px 20px;
    color: #FF3B3B;
    padding-top: 15px;
    padding-right: 30px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 22px;
    font-family: kalameh-bold;
}

.seconds-word {
    width: 200px;
    height: 55px;
    background-color: #541444;
    border: 0;
    border-radius: 0px 0px 20px 20px;
    color: #FF3B3B;
    padding-top: 15px;
    padding-right: 35px;
    margin-right: 20px;
    margin-top: 10px;
    font-size: 22px;
    font-family: kalameh-bold;
}

.notify-box {
    position: absolute;
    top: 200px;
    right: 20px;
    width: 480px;
    height: 60px;
}

.email-notifier {
    width: 480px;
    height: 60px;
    font-size: 20px;
    font-family: kalameh-regular;
}

.galactic-guests-jupiter {
    width: 100%;
    position: relative;
}

.jupiter-box {
    width: 975px;
    height: 381px;
    position: absolute;
    top: 150px;
    right: 80px;
}

.jupiter-img {
    width: 550px;
}

.yellow-moon-box {
    position: relative;
}

.yellow-lunar-moon {
    width: 70px;
    position: absolute;
    top: 280px;
    right: 20px;
}

.blue-moon-box {
    position: relative;
}

.blue-lunar-moon {
    width: 70px;
    position: absolute;
    bottom: -640px;
    left: 330px;
}

.gold-moon-box {
    position: relative;
}

.gold-lunar-moon {
    width: 40px;
    position: absolute;
    bottom: -250px;
    left: 280px;
}

.rope-box {
    position: relative;
}

.rope {
    width: 60px;
    position: absolute;
    top: 500px;
    right: 90px;
}

.jupiter-text-box {
    position: absolute;
    padding-right: 30px;
    width: 450px;
    height: 80px;
    background-color: #541444;
    color: #FF3B3B;
    font-family: kalameh-regular;
    font-size: 25px;
    border: 0;
    border-radius: 20px 0px 20px 20px;
    top: 690px;
    left: 380px;
}

.galactic-guests-social-media {
    height: 100vh;
    display: flex;
    justify-content: start;
    align-items: center;
}

.instagram-box {
    position: relative;
}

.instagram-icon {
    width: 40px;
    position: absolute;
    top: -30px;
    left: 85px;
}

.youtube-box {
    position: relative;
}

.youtube-icon {
    width: 40px;
    position: absolute;
    top: 25px;
    left: 85px;
}

.facebook-box {
    position: relative;
}

.facebook-icon {
    width: 40px;
    position: absolute;
    top: 80px;
    left: 85px;
}

.twitter-box {
    position: relative;
}

.twitter-icon {
    width: 40px;
    position: absolute;
    top: 135px;
    left: 85px;
}

@media screen and (max-width : 1920px) {

    .body {
        overflow: hidden;
    }

    .wrapper {
        height: 100vh;
    }

    body {
        overflow: hidden;
    }

    .instagram-icon {
        position: absolute;
        top: -95px;
    }

    .youtube-icon {
        position: absolute;
        top: -45px;
    }

    .facebook-icon {
        position: absolute;
        top: 10px;
    }

    .twitter-icon {
        position: absolute;
        top: 70px;
    }
}

@media screen and (max-width: 1440px) {

    .galactic-guests-heading {
        position: absolute;
        top: 150px;
        right: 80px;
    }

    .galactic-guests-countdown-form {
        position: absolute;
        top: 500px;
        right: 60px;
    }

    .galactic-guests-jupiter {
        position: absolute;
        left: 50px;
    }


    .jupiter-text-box {
        position: absolute;
        top: 680px;
        left: 150px;
    }

    .blue-lunar-moon {
        position: absolute;
        top: 600px;
        left: 160px;
    }

    .gold-lunar-moon {
        position: absolute;
        bottom: -250px;
        left: 140px;
    }
<<<<<<< HEAD

    .instagram-icon {
        position: absolute;
        width: 30px;
        left: 70px;
        top: -80px;
    }

    .youtube-icon {
        position: absolute;
        width: 30px;
        top: -35px;
        left: 70px;
    }

    .facebook-icon {
        position: absolute;
        width: 30px;
        top: 10px;
        left: 70px;
    }

    .twitter-icon {
        position: absolute;
        width: 30px;
        top: 60px;
        left: 70px;
    }
}

@media screen and (max-width : 1280px) {

    .galactic-guests-heading {
        position: absolute;
        top: 150px;
    }

    .galactic-guests-heading h2 {
        font-size: 70px;
    }

    .galactic-guests-heading h1 {
        font-size: 80px;
    }

    .galactic-guests-countdown-form {
        position: absolute;
        top: 480px;
    }

    .galactic-guests-jupiter {
        position: absolute;
        left: 100px;
    }

    .yellow-lunar-moon {
        position: absolute;
        top: 200px;
    }

    .gold-lunar-moon {
        position: absolute;
        top: 200px;
        left: 40px;
    }

    .blue-lunar-moon {
        position: absolute;
        top: 570px;
        left: 30px;
    }

    .rope {
        width: 70px;
        top: 450px;
        left: 480px;
    }

    .jupiter-text-box {
        position: absolute;
        top: 670px;
        left: 65px;
    }

    .instagram-icon {
        position: absolute;
        top: -80px;
        left: 75px;
    }

    .youtube-icon {
        position: absolute;
        top: -30px;
        left: 75px;
    }

    .facebook-icon {
        position: absolute;
        top: 15px;
        left: 75px;
    }

    .twitter-icon {
        position: absolute;
        left: 75px;
    }

=======
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #541444;

}

.loader-wrapper .loader {
    display: inline-block;
    position: relative;
    top: 10px;
    right: 50px;
    animation: loader 2s infinite ease;
}

.loader-wrapper h1 {
    font-family: kalameh-black;
    font-size: 70px;
    position: relative;
    left: -5px;
    color: #F83300;
}

.loader-wrapper h3 {

    font-family: kalameh-thin;
    font-size: 40px;
    color: #ffcc00;
>>>>>>> 893ffc844162f07e1d66a1d9399ee2cc71fe21d4
}